        body {
            font-family: Arial, sans-serif;
            color: var(--tg-theme-text-color);
            margin: 0;
            padding: 20px;
        }
        div {
            background: var(--tg-theme-bg-color);
            border: 3px solid #ccc;
            border-radius: 15px 15px 15px 15px;
            margin: 20px auto;
            padding: 20px;
            max-width: 400px;
        }
        #wordList {
            list-style: none;
            padding: 20px;
        }

        .block {
            background: var(--tg-theme-bg-color);
            padding: 20px;
            margin: 20px auto;
            border-radius: 5px;
            max-width: 400px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .block text {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        .block text:last-child {
            margin-bottom: 0;
        }
        }

        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            margin: 0 0 10px;
        }

